@import url('https://fonts.googleapis.com/css?family=Miss+Fajardose');

.cool {
  color: red;
  font-family: monospace;
}

.fancy {
  color: purple;
  font-family: 'Miss Fajardose', cursive;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: inherit;
  }
}

.animated {
  animation-duration: 3s;
  animation-name: fadein;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

p:hover {
  animation: 3s infinite alternate spin;
}

.canShowError {
  transition: color 1s, background-color 2s, border 3s;
}

.canShowError.hasError {
  background-color: red;
  color: white;
  font-weight: bold;
  border: 2px dashed yellow;
}

html {
  font-family: 'Open Sans', monospace;
  background: #eee;
  color: #111;
  font-size: 16px;
  line-height: 1.16em;
}

.appdiv {
  max-width: 560px;
  margin: 0 auto;
}

header ul {
  height: 32px;
  width: 90%;
  background: grey;
  list-style: none;
}

header ul li {
  width: 25%;
  float: left;
}

header ul li a {
  color: white;
}

header ul li a:hover {
  color: cyan;
}

li.cute,
li.normal {
  font-size: 1.1em;
  opacity: 0.9;
  color: pink;
}

li.large,
li.huge {
  font-size: 2em;
  font-weight: 800;
}

li.tiny,
li.smol {
  font-size: 0.5em;
  opacity: 0.5;
}

li.medium,
li.furry {
  font-size: 1.5em;
  font-weight: 400;
}

@keyframes rainbow {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    90% { color: purple; }
}

.inverted {
  filter: invert(.8);
}

.blurry {
  filter: blur(2px);
}

footer {
  background: #ddd;
  background-repeat: round;
  font-weight: bolder;
  color: #000;
  height: 64px;
  margin: 1em;
  padding: 1em;
  border: 4px solid black;
  animation: 2s infinite rainbow;
}
